<section class="bg-white dark:bg-gray-900">
 
  <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
      <div class="w-full lg:w-1/2">
          <div class="lg:max-w-lg">
              <h1 class="text-3xl font-semibold tracking-wide text-gray-800 dark:text-white lg:text-4xl">
                  AI-Generated Job Listings Find Jobs Instantly
              </h1>

              <div class="mt-8 space-y-5">
                  <p class="flex items-center text-gray-700 dark:text-gray-200">
                      <span class="mx-2">🚀 Instant vacancy updates from top companies & startups</span>
                  </p>
                  <p class="flex items-center text-gray-700 dark:text-gray-200">
                      <span class="mx-2">🌎 Opportunities from metro cities to every corner of India</span>
                  </p>
                  <p class="flex items-center text-gray-700 dark:text-gray-200">
                      <span class="mx-2">💡 Smart AI recommendations tailored for you</span>
                  </p>
              </div>
          </div>

        
      </div>

      <div class="flex items-center justify-center w-full h-96 lg:w-1/2">
          <img class="object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl" src="https://images.unsplash.com/photo-1555421689-491a97ff2040?auto=format&fit=crop&w=1470&q=80" alt="job search illustration">
      </div>
  </div>
</section>
