<div class="flex-1">
    <h1 class="title">{{ title }}</h1>

    <div class="space-y-6">
        <ng-container *ngFor="let job of jobs">
            <a [routerLink]="['/job', job.id]" class="cursor-pointer">
                <app-card 
                  [id]="job.id" 
                  [title]="job.title" 
                  [company]="job.company" 
                  [companyLogo]="job.company_image"
                  [location]="job.location"
                  [salary]="job.salary" 
                  [type]="job.type" 
                  [postedDate]="job.postedDate"
                  [description]="job.description">
                </app-card>
            </a>
        </ng-container>
    </div>


    <!-- Loading skeleton, If no Jobs -->
    <div *ngIf="jobs.length == 0" class="mb-8">
        <app-skeleton-card *ngFor="let i of [].constructor(skeletonCount); let index = index"></app-skeleton-card>
    </div>

</div>



   